$color-black: #000000;
$color-white: #fff;
$color-green: #60df52;
$color-red: #df5251;
$color-blue: #4abfe6;
$color-gray: #a0a0a0;
$color-gray-thin: #4a4b4c;
$color-yellow: #f5d02c;
$color-lightblue: #4abfe6;
$color-background-gray: #f6f6f6;
