.Sitefooter {
  &__external {
    background-color: #373737;
    color: #c9c9c9;
    font-size: 13px;
    padding: 32px 0;
    &__container {
      width: 1110px;
      margin: 0 auto;
      ul {
        display: flex;
      }
    }
    &--body {
      padding: 0 12px;
    }
    &--head {
      border-bottom: 1px solid #606060;
      padding-bottom: 10px;
      overflow: hidden;
      display: flex;
      justify-content: flex-end;
    }
    &--img {
      margin-right: auto;
    }
    &--image {
      height: 15px;
      width: 192px;
      &--beyond {
        width: 100px;
      }
    }
    &--link {
      color: #c9c9c9;
    }
    &--fa {
      color: #c9c9c9;
    }
  }
  background-color: #2a2a2a;
  color: $color-white;
  line-height: 1.5;
  padding: 32px 0;
  &__container {
    width: 1110px;
    margin: 0 auto;
  }
  &__head--image {
    width: 200px;
    height: 45px;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    &--header{
      display: flex;
      border-bottom: 1px solid #3f3f3f;
      padding-bottom: 24px;
      margin: 0 0 24px;
    }
    &--link {
      width: 190px;
      margin-left: 24px;
      padding: 15px;
      border-radius: 3px;
      display: flex;
      justify-content: center;
    }
    &__body {
      li {
        margin-bottom: 4px;
        font-size: 12px;
      }
      &--space {
        display: flex;
        margin-right: 300px;
      }
      &--space1 {
        padding-right: 80px;
      }
      &--space2 {
        padding-right: 80px;
      }
      &--space3 {
        padding-right: 140px;
      }
    }
    &__title {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    &__place {
      padding: 24px 0 12px;
      border-top: 1px solid #3f3f3f;
      border-bottom: 1px solid #3f3f3f;
      &--body {
      }
      ul {
        display: flex;
        justify-content: space-between;
        li {
          display: flex;
          padding-right: 12px;
        }
      }
    }
  }
  &__app {
    &--banner {
      padding: 28px 0 24px;
      margin-bottom: 24px;
      border-bottom: 1px solid #4b4b4b;
    }
    &--image {
      height: 55px;
    }
  }
  &__links {
    &--link {
      display: flex;
      font-size: 12px;
      li {
        padding-right: 16px;
        padding-bottom: 10px;
      }
    }
    &--sns {
      li {
        padding-right: 16px;
        padding-bottom: 10px;
        font-size: 24px;
      }
    }
  }
  &__copyrights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    &--left {
      display: flex;
    }
    &--image {
      height: 12px;
      width: 113px;
    }
    &--googlelogo {
      height: 74px;
    }
  }
}
